extends ../layouts/default

block intro
	.container
		h1 Om oss

block content
	.container
		p Enim qui occaecat ullamco velit laborum est do et culpa proident in nulla veniam duis dolore non. Lorem ipsum tempor in excepteur nisi enim aliqua incididunt fugiat veniam mollit ex mollit amet ad ex. Ut nulla esse nisi do dolore nulla dolor deserunt adipisicing amet in cillum dolor esse. Incididunt ut commodo ullamco voluptate dolor exercitation aute ullamco in proident anim sunt. Est esse officia ullamco cupidatat elit ut minim tempor dolor adipisicing proident dolor mollit quis elit nulla dolore. Lorem ipsum sed laboris voluptate mollit consequat cillum enim commodo ad in occaecat cupidatat. Eu laboris proident minim consectetur commodo eiusmod laboris aliquip excepteur exercitation nostrud enim ex veniam non reprehenderit eiusmod eu.
