extends ../layouts/default

block content
	.container.container-fix
		img(src='/images/utv-bg-txt-2.svg').cover.img-fix
		
		<!-- .row -->
			<!-- .col-12 -->
				<!--.polygon -->
		<!-- span.utvecklardag-hashtag
			<!-- .hashtag

		<! --span
			<!-- .date-month JUL.
			<!-- .date-day 29 <!-- implement non-static -->
		<!-- .row
			<!-- .col-12
				<!-- img(src='/images/utv-dag-hash-test.svg').hashtag
			