extends ../layouts/default

block intro
	.container: .row: .col-sm-12.col-md-12
		h1 /Projekt

block content
	.container: .row: .col-sm-12.col-md-12
		if projects.length
			.row
				each project in projects
					.thumbnail.col-sm-6.col-md-3
						h3.headlines: a(href='/projects/' + project.slug)= project.title
						p!= project.content.brief
		else
