.polygon-blog {
	background-color: #64ffda;
	width: inherit;
	height: 80vh;
	clip-path: polygon(0 0, 100% 0, 100% 30%, 42% 0, 0 100%);
    // position: absolute;
    z-index: 1;
}

.intro {
    position: absolute;
    z-index: 3
}

intro {
    background-color: rgba(0, 0, 0, 0.1);
}

content {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 3;
}

list-group-item.active {
    background-color: #64ffda !important;
    border-color: none;
}