.container {
	width: auto;
	margin: 0px;
	padding-top: 3%;
	padding-left: 10%;
	padding-right: 10%;
}

.container-fluid {
	padding: 0px;
}

#header {
	/* temporary */
	font-family: Arial, Helvetica, sans-serif;
	background-color: #64ffda;
	padding-right: 10%;
	padding-left: 10%;
}


.navbar-default {
	background-color: #64ffda;
	border: 0px;
	margin-bottom: 0px;

	.navbar-header {
		.nav-image {
			width: 30%;
		}
	}

	.navbar-nav {
		color: #36275F;
		text-transform: uppercase;

		li {
			a {
				color: #36275F;
				margin-left: 50px;
				display: inline-block;
				padding-left: 0px;
				padding-right: 0px;
			}
		}

		.active {
			a {
				border-bottom: 9px solid #3f51b5;
				display: inline-block;
				color: #36275F;
				background-color: #64ffda;
				padding-bottom: 0px;

				&:hover {
					background-color: #64ffda;
				}
			}
		}
	}
}

/*APPLICATION BUTTON*/

.btn-primary, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active {
	background-color: #3f51b5;
	font-family: Arial, Helvetica, sans-serif;
	color: #64ffda;
	border-radius: 0px;
	border: 0px;
	float: right;
	margin-top: 7px;

	&:hover {
		background-color: #3f51b5;
		color: #64ffda;
	}

	.modal-backdrop {
    	position: fixed;
    	top: 0;
    	right: 0;
    	bottom: 0;
   	 	left: 0;
    	z-index: 1040;
    	background-color: firebrick;
	}
}

/*MODAL STYLING*/
#myModal {

<<<<<<< HEAD
	position: absolute;
	z-index: 1050;
	float: right;
	height: 1080px;

	.modal-dialog {

=======
	.polygon {
			display: block;
			float: right;
			background-color: #64ffda;
			z-index: 1;
		}

	.modal-dialog {

		float: right;
>>>>>>> 45a0f53d836d3c31120b8d8105a2138107be5216
		margin: 0px;
		width: 100vw;
		height:100vh;

		.modal-content {
			width: 400px;
			border: 0px;
			border-radius: 0px;
			background-color: #d3438c;

			.modal-header {
				float: left;
				color: #64ffda;
				border: 0px;
				font-size: 14px;
				font-weight: normal;
				z-index: 3;

				.close {
					float: right;
					color: #64ffda;
					text-shadow: none;
					opacity: 1;
					font-family: Arial, Helvetica, sans-serif;
					font-size: inherit;
					font-weight: normal;
					text-transform: uppercase;
					z-index: 3;
				}

			}

<<<<<<< HEAD
			.form-group {

				label {
					color: #fdf6df;
				}

				.form-control {
					border-radius: 0px;
=======
			.modal-body {

				float: right;
				z-index: 3;

				.form-group {
				
					label {
						color: #fdf6df;
					}
				
					.form-control {
						border-radius: 0px;
					}
					text-transform: uppercase;
>>>>>>> 45a0f53d836d3c31120b8d8105a2138107be5216
				}

			}
			
		}

		#flash-messages {

			.alert-danger {

				ul {
					display: none;
				}
			}
		}
	}

	.filter {
		opacity: 0.5;
    	-moz-filter:hue-rotate(90deg);
    	-webkit-filter:hue-rotate(90deg);
    	-o-filter:hue-rotate(90deg);
    	-ms-filter:hue-rotate(90deg);
    	filter:hue-rotate(90deg);
	}
}


.submit{
	display: block;
	background-color: #64ffda;
	font-family: Arial, Helvetica, sans-serif;
	color: #3f51b5;
	border-radius: 0px;
	border: 0px;
	text-transform: uppercase;
}
