@font-face {
	font-family: 'LemonMilk';
	src: url('../fonts/lemonmilk/lemonmilk-webfont.woff');
}

@font-face {
	font-family: 'inception';
	src: url('../fonts/inception/inception.ttf'); // try using .woff instead of .ttf as Firefox does not support
}

.container {
	margin-left: 30px;
}

/* #UTVECKLARDAG ELEMENT */

.hashtag {
	position: absolute;
	float: left;
	z-index: 3;
	// TEMPORARY
	font-family: 'inception';
	font-size: 200px;
	color: #3f51b5;

	margin-left: -20px; // ADJUST LEFT VISIBILITY OF CONTENT
}

/* DATE ELEMENT */

.date {
	position: absolute;
	float: right;
	z-index: 2;
	// TEMPORARY
	font-family: 'LemonMilk';
	font-size: 300px;
	font-weight: 900;
	color: #fe8d64;
}

/* POLYGON ELEMENT */

.polygon {
	background-color: #64ffda;
	width: inherit;
	height: 80vh;
	clip-path: polygon(0 0, 100% 0, 100% 30%, 75% 0, 0 100%);
}

html {
	position: relative;
	min-height: 100%;
}

body {
	color: #36275F;
	font-family: 'Abhaya Libre', serif;
	font-weight: 300;
	margin-bottom: 110px;
	overflow-x: hidden;
	background-color: #fdf6df;
}

.fix {
    background-color: rgba(0, 0, 0, 0.1);
    float: left;
    z-index: 1060;
}

intro {
    background-color: rgba(0, 0, 0, 0.1);
    float: left;
    z-index: 1060;
}

content {
    background-color: rgba(0, 0, 0, 0.1);
    float: left;
    z-index: 1060;
}

input, textarea {
	font-family: 'Roboto Mono', monospace !important;
}

img {
	vertical-align: middle;
    max-width: 100% !important;
}

img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

span {
	font-family: 'Roboto Mono', monospace;
}

/* FOOTER */

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #fdf6df;
	text-align: center;
	/* Set the fixed height of the footer here */
	height: 90px;

	p {
		display: inline-block;
		margin: 0 0 0;
		margin-top: 5px;
	}

	#footer-icons {

		clear: both;
		text-align: center;
		font-size: 100%;

		span a {
			display: inline-block;
			width: 32px;
			height: 32px;
			line-height: 0px;
			color: #343434;
			font-size: 0;
			overflow: hidden;
			margin: 0 5px;
		}
	}

	.facebook a {
		background: url('/images/SocialMedia/facebook.svg') no-repeat center top;
	}

	.twitter a {
		background: url('/images/SocialMedia/twitter.svg') no-repeat center top;
	}

	.instagram a {
		background: url('/images/SocialMedia/instagram.svg') no-repeat center top;
	}
}


/*
* MEDIA QUERIES
*/
@media screen and (min-width: 535px) {

	body {
		margin-bottom: 85px;
	}

	footer {
		height: 65px;
	}
}


