@font-face {
	font-family: 'LemonMilk';
	src: url('../fonts/lemonmilk/lemonmilk-webfont.woff');
}

@font-face {
	font-family: 'inception';
	src: url('../fonts/inception/inception.ttf'); // try using .woff instead of .ttf as Firefox does not support
}

@font-face {
	font-family: 'veramono';
	src: url('../fonts/webfonts/roman/VeraMono-webfont.woff');
}

/* #UTVECKLARDAG ELEMENTS */

.container-fix {
	height: auto;
	width: 100vw;
	padding: 0px;
	margin: 0px;
	//float: left;
}

img-fix {
	position: relative;
}

.pol-fix {
	background: url('../images/utv-bg-txt-2.svg') center center;
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;

}

.utvecklardag-hashtag {
	position: relative;
}

.hashtag {
	background: url('../images/utv-dag-hash-test.svg') center center;
	background-size: 100%;
	background-repeat: no-repeat;

	position: absolute;
	z-index: 500;
	// top: -200px;
	left: 0px;
	right: 0px;
	// TEMPORARY
	// font-family: 'inception';
	// font-size: 195px;
	// color: #3f51b5;
}

/* DATE ELEMENT */

.date-month {
	padding-top: 17%;
	padding-bottom: 0px;
	padding-left: 20%;
	position: absolute;
	//float: right;
	z-index: 2;
	font-size: 250px;
	font-family: 'LemonMilk';
	font-weight: 900;
	color: #fe8d64;
}

.date-day {
	padding-top: 17%;
	padding-bottom: 0px;
	padding-left: 20%;
	//position: absolute;
	//float: right;
	left: 500px;
	z-index: 2;
	// TEMPORARY
	font-family: 'LemonMilk';
	font-size: 350px;
	font-weight: 900;
	color: #fe8d64;
}

/* POLYGON ELEMENT */

.polygon {
	background-color: #64ffda;
	width: 100vw;
	height: 80vh;
	clip-path: polygon(0 0, 100% 0, 100% 30%, 75% 0, 0 100%);
	// position: relative;
}

.pol-fix {
	padding: 0px;
}


body {
	color: #36275F;
	font-family: 'Georgia', serif;
	font-weight: 300;
	font-size: 15px;
	// margin-bottom: 110px;
	overflow-x: hidden;
	background-color: #fdf6df;
}

.fix {
    background-color: rgba(0, 0, 0, 0.1);
    float: left;
    z-index: 1060;
}
/*
intro {
    background-color: rgba(0, 0, 0, 0.1);
    float: left;
    z-index: 1060;
}

content {
    background-color: rgba(0, 0, 0, 0.1);
    float: left;
    z-index: 1060;
}
*/
input, textarea {
	font-family: 'Georgia', serif !important;
}

img {
	vertical-align: middle;
    max-width: 100% !important;
}

img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

span {
	font-family: 'Georgia', serif;
}

.cover {
	object-fit: cover;
}

.headlines {
	font-family: veramono;
}
