#dropdownMenu1 {
	border: none;
	border-radius: 0;
	background-color: #d3438c;
	color: #fdf6df;
	font-family: 'veramono';
	text-transform: uppercase;
}

/* styles for '...' */
.projects-text {

	b {
		background-color: yellow;
	}

	ol {
		color: #fdf6df;
		margin-bottom: 0;
		padding-left: 15px;
	}

	overflow: hidden;
	position: relative;
	line-height: 1.2em;
	/* max-height = line-height (1.2) * lines max number (3) */
	max-height: 13.2em;
	text-align: justify;
	margin-right: -1em;
	padding-right: 1em;
}

.projects-text:before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	color: white;
}

.projects-text:after {
	content: '';
	position: absolute;
	right: 0;
	width: 1em;
	height: 1em;
	margin-top: 0.2em;
	background: white;
}

.projects {
	background-color: #3f51b5;
	margin: 1%;
	height: 300px;

	.projects-header {
		text-align: center;
	}

	h3 a {
		color: #64ffda;
	}

	// a:hover, a:active {
	// 	text-decoration: none;
	// 	color: #64ffda;
	// }

	b {
		text-transform: uppercase;
	}

	p {
		color: #fdf6df;
	}
}

.projects:hover {
	// background-color: #3f51b5;

	// h3:hover {
	// 	color: #64ffda;
	// 	text-transform: uppercase;
	// }
}

.try-projects {
	margin-left: 9%;
	margin-right: 9%;
	margin-bottom: 52px;
}

.all-projects {
	// margin-left: 10%;
	// margin-right: 5%;
}




/* SPECIFIC PROJECT PAGES */
.project-main {
	margin-top: 30px;
	margin-bottom: 10px;

	.project-title {
		text-align: center;
		color: #64ffda;
		font-size: 60px;
	}

	a {
		color: #d3438c;
	}

	hr {
		border-top: 1px solid #3f51b5;
	}
}

.project-content-one {

}

.project-content-two {
}

.project-bottom-section {
	margin-top: 10px;
    margin-bottom: 30px;
    padding-top: 20px;
	border-top: 1px solid #3f51b5;
	text-align: left;

	a {
		color: #d3438c;
	}
}

.category-dropdown {
	margin-top: 20px;
	margin-bottom: 10px;
}

.intro {
    position: absolute;
    z-index: 3
}

intro {
    background-color: rgba(0, 0, 0, 0.1);
}

content {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 3;
}

list-group-item.active {
    background-color: #64ffda !important;
    border-color: none;
}

h3 {
	max-width: inherit;
	display: block;
}
