.projects {
	// margin-left: 1%;
	border: 2px solid #64ffda;
	border-radius: 20px;
	margin: 1%;

	.projects-header {
		text-align: center;
	}
}

.try-projects {

}

.all-projects {
	margin-left: 5%;
	margin-right: 5%;
}



/* SPECIFIC PROJECT PAGES */
.project-main {
	margin-top: 30px;
	margin-bottom: 30px;

	.project-title {
		text-align: center;
		text-decoration: underline;
	}

	hr {
		border-top: 1px solid #64ffda;
	}
}

.project-content-one {

}

.project-content-two {
}

.project-bottom-section {
	margin-top: 10px;
    margin-bottom: 30px;
    padding-top: 20px;
	border-top: 1px solid #64ffda;
	text-align: left;
}

.category-dropdown {
	margin-top: 20px;
	margin-bottom: 10px;
}

.intro {
    position: absolute;
    z-index: 3
}

intro {
    background-color: rgba(0, 0, 0, 0.1);
}

content {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 3;
}

list-group-item.active {
    background-color: #64ffda !important;
    border-color: none;
}

h3 {
	max-width: inherit;
	display: block;
}
