#dropdownMenu1 {
	border: none;
	border-radius: 0;
	background-color: #d3438c;
	color: #fdf6df;
	font-family: 'veramono';
	text-transform: uppercase;

	.btn-default {

	}
}


/* styles for '...' */
.projects-text {
	b {
		background-color: yellow;
	}
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 14.4em;
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
}
/* create the ... */
.projects-text:before {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
  color: white;
}
/* hide ... if we have text, which is less than or equal to max lines */
.projects-text:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}



.projects {
	background-color: #3f51b5;
	margin: 1%;
	height: 300px;

	.projects-header {
		text-align: center;
	}

	h3 a {
		color: #64ffda;
	}

	// a:hover, a:active {
	// 	text-decoration: none;
	// 	color: #64ffda;
	// }

	b {
		text-transform: uppercase;
	}

	p {
		color: #fdf6df;
	}
}

.projects:hover {
	// background-color: #3f51b5;

	// h3:hover {
	// 	color: #64ffda;
	// 	text-transform: uppercase;
	// }
}

.try-projects {
	margin-left: 9%;
	margin-right: 9%;
	margin-bottom: 52px;
}

.all-projects {
	// margin-left: 10%;
	// margin-right: 5%;
}



/* SPECIFIC PROJECT PAGES */
.project-main {
	margin-top: 30px;
	margin-bottom: 30px;

	.project-title {
		text-align: center;
		color: #fe8d64;
		font-size: 60px;
	}

	a {
		color: #3f51b5;
	}

	hr {
		border-top: 1px solid #d3438c;
	}
}

.project-content-one {

}

.project-content-two {
}

.project-bottom-section {
	margin-top: 10px;
    margin-bottom: 30px;
    padding-top: 20px;
	border-top: 1px solid #d3438c;
	text-align: left;

	a {
		color: #3f51b5;
	}
}

.category-dropdown {
	margin-top: 20px;
	margin-bottom: 10px;
}

.intro {
    position: absolute;
    z-index: 3
}

intro {
    background-color: rgba(0, 0, 0, 0.1);
}

content {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 3;
}

list-group-item.active {
    background-color: #64ffda !important;
    border-color: none;
}

h3 {
	max-width: inherit;
	display: block;
}
